/* Semantic Elements */
header {
    background-color: #38b6ff;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
}

nav, #navcheck {
    display: none;
}

#navcheck:checked~nav {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    background-color: #38b6ff;
}

/* Images */
.card img {
    height: auto;
    width: 75%;
    /* border-radius: 20px; */
    display: flex;
    align-self: center;
}

/* Text */
label {
    align-items: start;
    font-size: 1.5rem;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.cards h3 {
    text-decoration: underline;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Sections and Divs */
.card {
    border: 5px solid black;
    text-align: center;
    margin: 5px;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.heading {
    display: flex;
    order: 2;
    align-items: center;
    justify-content: center;
}

@media (min-width: 500px) {
   #navdiv label {
        display: none;
   }

   #navdiv {
        display: flex;
        order: 2;
        justify-content: center;
   }

    nav {
        display: flex;
        flex-direction: row;
        justify-self: center;
    }

    nav a {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0  10px;
    }

    header {
        text-align: center;
        flex-direction: column;
    }

    .card {
        width: 30%;
    }

    .cards {
        display: flex;
        flex-direction: row;
    }

    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}