/* Semantic Elements */
header {
    background-color: #38b6ff;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: none;
}

nav, #navcheck {
    display: none;
}

#navcheck:checked~nav {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    background-color: #38b6ff;
}

/* Images */
.card img {
    height: auto;
    width: 75%;
    /* border-radius: 20px; */
    display: flex;
    align-self: center;
}

/* Text */
label {
    align-items: start;
    font-size: 2rem;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.cards h3 {
    text-decoration: underline;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Sections and Divs */
.card {
    border: 5px solid black;
    text-align: center;
    margin: 5px;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.heading {
    display: flex;
    order: 2;
    align-items: center;
}