/* Semantic Elements */
header {
    background-color: #38b6ff;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
}

nav,
#navcheck {
    display: none;
}

#navcheck:checked~nav {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    background-color: #38b6ff;
}

/* Images */
.card img {
    height: auto;
    width: 75%;
    /* border-radius: 20px; */
    display: flex;
    align-self: center;
}

.hero-img {
    display: none;
}

.heading img {
    display: none;
}

/* Text */
label {
    align-items: start;
    font-size: 1.5rem;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.cards h3 {
    text-decoration: underline;
}

legend {
    font-size: 13pt;
    float: none;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Sections, Divs, and Classes */
.card {
    border: 5px solid black;
    text-align: center;
    margin: 5px;
    width: 90%;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.heading {
    display: flex;
    order: 2;
    align-items: center;
    justify-content: center;
    margin-left: 6.5rem;
}

#email {
    display: flex;
    flex-direction: row;
}

.first input,
.last input,
#email input {
    width: 50%;
}

.first label,
.last label,
.emtxt {
    color: black;
}

#workout-machine,
#personal-trainer,
#yogabox,
#nutritional {
    color: black;
    padding: 0 10px;
}

.third,
.second {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Other */
#contact-information {
    border: 2px solid black;
}

#interests {
    padding: 5px;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 15px;
}

@media (min-width: 720px) {
    header {
        text-align: center;
        flex-direction: row;
    }

    /* .card {
        width: 100%;
    } */

    .cards {
        flex-direction: column;
        width: 100%;
    }

    .second,
    .third {
        flex-direction: column;
    }

    footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

@media (min-width: 900px) {
    #navdiv label {
        display: none;
    }

    #navdiv {
        display: flex;
        order: 2;
        justify-content: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-self: center;
    }

    nav a {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 10px;
    }

    .heading {
        margin-left: 0rem;
    }

    header {
        flex-direction: column;
    }

    .first input, .last input {
        width: 20%;
    }

    .cards {
        display: flex;
        flex-direction: row;
    }

    .card {
        width: 30%;
    }

}